<app-header></app-header>
<main>
    <section class="main-section">
        <div class="headline">
            <h1>Rafaela Mello Advogada</h1>
            <span>Advogada inscrita na OAB nº 504.263, especialista em direito do trabalho, voltada ao atendimento individual e humanizado. Suas dúvidas sanadas de forma clara e objetiva, planejando a melhor tática para que seus direitos sejam viabilizados e respeitados de forma justa. Tudo em torno de uma preparação especializada, para que haja o melhor resultado para o cliente.</span>
            <h1>Com o que posso te ajudar.</h1>
            <span>
                <ul class="list">
                    <li>Cálculos e pagamentos de rescisão</li>
                    <li>Cálculos e pagamentos de horas extras</li>
                    <li>Devido pagamento de férias, 13º, FGTS</li>
                    <li>Reconhecimento de insalubridade e periculosidade</li>
                    <li>Reconhecimento de vínculo empregatício</li>
                    <li>Reconhecimento de desvio de função</li>
                    <li>Demissão de empregado com estabilidade</li>
                    <li>Assédio no ambiente de trabalho</li>
                </ul>
            </span>
            <span>Dentre vários direitos que são devidos aos empregados,  emparados pela nossa Legislação.</span>
        </div>
        <img ngSrc="./assets/RafaFoto.jpg" width="669" height="536">
    </section>
</main>